@use '../../../assets/scss/_variables.scss' as *;

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    max-height: 50px;
    .social_icon {
        display: block;
        position: absolute;
        right: 270px;
        top: 20px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        img {
            width: 100%;
            height: 100%;
        }
        &:hover {
            transform: scale(1.05);
            transition: all 0.3s ease
        }
        @media (max-width: $tablet) {
            top: 30px;
            right: 85px;
        }
    }
    .burger_btn {
        display: none;
        @media (max-width: $tablet) {
            display: block;
        }
    }
    .menu_icon {
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 10;
        img {
            width: 40px;
            height: 40px;
            color: $color-secondary;
        }
    }
    .menu-primary-container {
        display: flex;
        justify-content: flex-end;
        padding-top: 30px;
            ul {
                // min-width: 300px;
                display: flex;
                li {
                    margin-left: 10px;
                    margin-right: 10px;
                    // &:not(:first-child):not(:last-child) {
                    //     margin: 0 15px 0 15px;
                    // };
                }
                a {
                    display: block;
                    font-family: $main-font;
                    font-weight: 500;
                    letter-spacing: 1px;
                    font-size: 18px;
                    color: $color;
                    &:hover {
                        transition: 0.3s;
                        transform: translateY(-1.5px);
                        color: $hover-color;
                    }
                    @media (max-width: $tablet) {
                        font-size: 24px;
                    }
                }
                @media (max-width: $tablet) {
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    row-gap: 40px;
                }
            }
        @media (max-width: $tablet) {
            background-color: $main-bgc;
            width: 100vw;
            height: 100vh;
            transform: translateY(-100vh);
            z-index: 5;
            padding-top: 0;
            padding-bottom: 0;
            padding-right: 0;
        }
    }
    @media(max-width: $tablet) {
        padding-left: 0;
        padding-right: 0;
    }
}

.mobile_menu_active {
    transform: translateY(0) !important;
    transition: 0.6s;
    justify-content: center !important;
}
.mobile_menu_btn_hidden {
    display: none !important;
}

