$main-font: "Montserrat", sans-serif; // text
$secondary-font: "Lora", serif; // headings
$base-font-size: 16px;
$color: black;
$color-secondary: gray;
$hover-color: rgba(31, 31, 31, 0.685);
$main-bgc: #ECE2DD;
$mobile: 576px;
$tablet: 768px;
$desktop: 1200px;