@use "./variables.scss" as *;


.single_album {
  padding-top: 90px;
}
.acf-photo-gallery-item {
  column-count: 2;
  column-gap: 0.5rem;
  @media (max-width: $tablet) {
    column-count: 1;
  }
  img {
    width: 100%;
    display: block;
    margin-bottom: 0.5rem;
    object-fit: contain;
  }
}
