@use "../variables.scss" as *;

.about_me_block {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .about__media_block {
        img {
            z-index: 10;
            max-height: 95vh;
            margin-right: 50px;
            @media (max-width: $desktop) {
                max-height: 80vh;
                margin-right: 0;
            }
            @media(max-width: $mobile) {
                max-width: 100%
            }
        }
    };
    .about__text_block {
        display: flex;
        flex-direction: column;
        p {
            max-width: 570px;
            font-family: $main-font;
            font-size: 22px;
            font-weight: 300;
            line-height: 36px;
            word-wrap: break-word;
            color: $color;
            @media(max-width: $desktop) {
                max-width: none;
                padding-left: 15px;
                padding-right: 15px;
            }
            @media(min-width: $desktop) {
                font-size: 24px;
            }
        }
        a {
            text-align: center;
            max-width: 300px;
            margin-top: 30px;
            padding: 15px 20px 15px 20px;
            background-color: black;
            font-family: $main-font;
            color: $main-bgc;
            border-radius: 8px;
            letter-spacing: 1px;
            font-size: 18px;
            font-weight: 300;
            cursor: pointer;
            &:hover {
                background-color: $hover-color;
                box-shadow: 0 0 5px $hover-color;
                transition: all 0.3s;
            }
        }
        @media(max-width: $desktop) {
            margin-top: 30px;
            align-items: center;
            justify-content: center;
        }
    };
    @media(max-width: $desktop) {
        flex-direction: column;
    }
}