@use "../variables.scss" as *;

.hero_block {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .hero_block__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 450px;
        max-width: 550px;
        opacity: 0.85;
        img {
            height: 100%;
            width: 100%;
        }
    }
    .hero_block__filter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.35);
        z-index: 1;
    }
}